
.root {
  -fx-background-color: #f4f4f4;
}


.banner {
  
  -fx-fit-width: 800px;
  -fx-fit-height: 200px;
  -fx-preserve-ratio: false;
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.2), 8,0,0,2);
}


.title {
  -fx-font-size: 18px;
  -fx-text-fill: #A256E6;
  -fx-font-weight: bold;
  -fx-alignment: CENTER;
}


.tab-pane .tab-header-background {
  -fx-background-color: #333333;
}
.tab-pane .tab {
  -fx-background-insets: 0;
}
.tab-pane .tab:selected {
  -fx-background-color: #A256E6;
}
.tab-pane .tab-label {
  -fx-text-fill: white;
  
  -fx-padding: 6 12 6 12;
}
.tab-pane .tab:selected .tab-label {
  -fx-text-fill: #fafafa;
}


.table-view {
  -fx-table-cell-border-color: transparent;
  -fx-padding: 0 15 0 15;
}

.table-view .column-header-background {
  -fx-background-color: #dddddd;
}
.table-view .table-column-header .label {
  -fx-text-fill: #333333;
  -fx-font-weight: bold;
}

.table-row-cell:odd {
  -fx-background-color: white;
}
.table-row-cell:even {
  -fx-background-color: #fafafa;
}

.table-row-cell:selected {
  -fx-background-color: -fx-selection-bar;
}
.table-row-cell:selected .text {
  -fx-fill: -fx-selection-bar-text;
}


.footer {
  -fx-background-color: #A256E6;
  -fx-padding: 6px;;
}
.footer .button {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-border-color: transparent;
}
.footer .button:hover {
  -fx-underline: true;
}

